<?php

/**
 * GlobalAddressbook configuration file
 */

// the name of the dummy which holds the global address book, if the user does not exist it will be created
// the name can contain the following macros that will be expanded as follows:
//      %d is replaced with the domain part of the username (if the username is an email address or default mail domain if not)
//      %h is replaced with the imap host (from the session info)
// eg. to create one global address book per domain: global_addressbook@%d
$rcmail_config['globaladdressbook_user'] = '[global_addressbook_user]';

// make global address book read only
$rcmail_config['globaladdressbook_readonly'] = true;

// allow groups in global address book
$rcmail_config['globaladdressbook_groups'] = false;

// global address book admin user
// admin user(s) can always add/edit/delete entries, overrides readonly
// either a single username, an array of usernames, or a regular expression, see README for more info
$rcmail_config['globaladdressbook_admin'] = null;

// show addresses from the global address book in the auto complete menu when composing an email
$rcmail_config['globaladdressbook_autocomplete'] = true;

?>